<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title><ion-icon name="person-add"></ion-icon>User Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label color="tertiary" position="floating"><ion-icon name="person"></ion-icon> Name</ion-label>
      <ion-input [(ngModel)]="name" color="tertiary"></ion-input>
    </ion-item> 
    <ion-item>
      <ion-label color="tertiary" position="floating"><ion-icon name="phone-portrait"></ion-icon> Mobile [10 Digit Mobile Number]</ion-label>
      <ion-input [(ngModel)]="mobile" color="tertiary"></ion-input>
    </ion-item>    
    <ion-item>
      <ion-label color="tertiary" position="floating"><ion-icon name="mail"></ion-icon> Email</ion-label>
      <ion-input [(ngModel)]="email" (ionBlur)="checkEmail()" color="tertiary"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="tertiary" position="floating"><ion-icon name="mail"></ion-icon> Password</ion-label>
      <ion-input type="password" [(ngModel)]="password" color="tertiary"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="tertiary" position="floating"><ion-icon name="mail"></ion-icon> Enter Password Again</ion-label>
      <ion-input type="password" [(ngModel)]="repassword" color="tertiary"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="tertiary" position="floating"><ion-icon name="pin"></ion-icon> Address</ion-label>
      <ion-input [(ngModel)]="address" color="tertiary"></ion-input>      
    </ion-item>     
    <ion-button expand="block" color="tertiary" (click)="saveUserDetails()" [disabled]="buttonStatus">Signup</ion-button>      
  </ion-list>
</ion-content>
