<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      <ion-icon name="person-add"></ion-icon> Property Search
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-input placeholder="Search Property..." [(ngModel)]="propertyFilter.address" style="color: #7044ff;padding: 0px 10px;"></ion-input>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let data of properties_list | filterBy: propertyFilter">
    <img style=" height: 100px; object-fit: cover; " src="data:image/jpeg;base64,{{data.image}}">
    <ion-card-header>
      <ion-card-subtitle role="heading" aria-level="3">
        <span style="float: left;"><b>₹{{data.price}}</b>, {{data.propertyType}}</span>
        <span style="float: right;">
          <i
            style="font-size: 120%;color: #ffffff;background-color: #7044ff;padding: 10px;border-bottom-right-radius: 20px;border-top-left-radius: 20px;">{{data.number_of_beds}}</i><img
            style="margin-bottom: 20px;" src="../../assets/bed.png" />
          <i
            style="font-size: 120%;color: #ffffff;background-color: #7044ff;padding: 10px;border-bottom-right-radius: 20px;border-top-left-radius: 20px;">{{data.number_of_baths}}</i><img
            src="../../assets/bathroom.png" />
        </span>
        <br/>
      </ion-card-subtitle>
      <ion-card-title role="heading" aria-level="2">{{data.address}}</ion-card-title>
    </ion-card-header>
    <ion-card-content style=" text-align: justify; padding-right: 15%; ">
      {{data.description}}
    </ion-card-content>
  </ion-card>

  <!-- <ion-card *ngIf="(properties_list | filterBy: userFilter).length === 0">
    <ion-card-header style=" text-align: center;">
      <ion-card-title role="heading" aria-level="2" style=" color: red; text-transform: uppercase; ">No Property Found
      </ion-card-title>
    </ion-card-header>
  </ion-card> -->

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button href="/home">
          <ion-icon color="tertiary" name="home"></ion-icon>
          <ion-label color="tertiary">Home</ion-label>
        </ion-tab-button>

        <ion-tab-button href="/property-list">
          <ion-icon color="tertiary" name="search"></ion-icon>
          <ion-label color="tertiary">Search</ion-label>
        </ion-tab-button>

        <ion-tab-button href="/add-property">
          <ion-icon color="tertiary" name="add-circle"></ion-icon>
          <ion-label color="tertiary">Add/Remove</ion-label>
        </ion-tab-button>

        <ion-tab-button href="/account">
          <ion-icon color="tertiary" name="person"></ion-icon>
          <ion-label color="tertiary">Account</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>