<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      <ion-icon name="log-in"></ion-icon> Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>  
  <ion-list>    
    <ion-item lines="none" style=" border-bottom: 1px solid #7044ff33; padding: 20px; ">
      <img style=" display: block; margin: 0 auto; " src="../../assets/login.png"/>
    </ion-item>
    <ion-item lines="none">
      <ion-label color="tertiary" position="floating"><ion-icon name="person"></ion-icon> Email</ion-label>
      <ion-input [(ngModel)]="email" color="tertiary"></ion-input>
    </ion-item> 
    <ion-item lines="none">
      <ion-label color="tertiary" position="floating"><ion-icon name="phone-portrait"></ion-icon> Password</ion-label>
      <ion-input type="password" [(ngModel)]="password" color="tertiary"></ion-input>
    </ion-item>

      <ion-chip style="width: 96%;" *ngFor="let message of errorMessage" outline="" color="danger" class="ion-color ion-color-danger md chip-outline ion-activatable hydrated">
        <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">{{message}}</ion-label>
      </ion-chip>
 
      <ion-button expand="block" (click)="checkUser()" class="width-50 float-left" color="tertiary">Login</ion-button>  
      <ion-button expand="block" (click)="goToRegistration()" class="width-50 float-right" color="tertiary">Signup</ion-button>      
  </ion-list>
</ion-content>
