<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      <ion-icon name="person-add"></ion-icon> Property Application
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label color="tertiary" position="stacked"><ion-icon name="camera"></ion-icon> Property Image</ion-label>
      <ion-input type="file" (change)="fileChanged($event)" color="tertiary"></ion-input>
    </ion-item> 
    <!-- *ngIf="imageFile" -->    
    <ion-item text-center *ngIf="imageFile">
      <img style=" width: 100%; border: 1px solid #7044ff; border-radius: 8px; " src="data:image/jpeg;base64,{{imageFile}}"/>
    </ion-item>
    <ion-item>
      <ion-label color="tertiary" position="stacked"><ion-icon name="pin"></ion-icon> Address</ion-label>
      <ion-input [(ngModel)]="address" color="tertiary"></ion-input>      
    </ion-item> 
    <ion-item>
      <ion-label color="tertiary" position="stacked"><ion-icon name="pin"></ion-icon> Price</ion-label>
      <ion-input [(ngModel)]="price" color="tertiary"></ion-input>
    </ion-item> 

    <ion-item>
      <ion-label color="tertiary" position="stacked"><ion-icon name="pin"></ion-icon> Property Type</ion-label>
      <ion-input [(ngModel)]="propertyType" color="tertiary"></ion-input>
    </ion-item> 

    <ion-item>
      <ion-label color="tertiary" position="stacked"><ion-icon name="pin"></ion-icon> Description</ion-label>
      <ion-input [(ngModel)]="description" color="tertiary"></ion-input>
    </ion-item> 

    <ion-item>
      <ion-label color="tertiary" position="stacked"><ion-icon name="pin"></ion-icon> No. Of Bedrooms</ion-label>
      <ion-input [(ngModel)]="numberOfBeds" color="tertiary"></ion-input>
    </ion-item> 
    <ion-item>
      <ion-label color="tertiary" position="stacked"><ion-icon name="pin"></ion-icon> No. Of Bathrooms</ion-label>
      <ion-input [(ngModel)]="numberOfBaths" color="tertiary"></ion-input>
    </ion-item> 
    <ion-item>
      <ion-label color="tertiary" position="stacked"><ion-icon name="pin"></ion-icon> Area</ion-label>
      <ion-input [(ngModel)]="area" color="tertiary"></ion-input>
    </ion-item>   
      <ion-button expand="block" color="tertiary" (click)="save()">Add Property</ion-button>      
  </ion-list>    
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button href="/home">
          <ion-icon color="tertiary" name="home"></ion-icon>
          <ion-label color="tertiary">Home</ion-label>      
        </ion-tab-button>
    
        <ion-tab-button href="/property-list">
          <ion-icon color="tertiary" name="search"></ion-icon>
          <ion-label color="tertiary">Search</ion-label>
        </ion-tab-button>
    
        <ion-tab-button href="/add-property">
          <ion-icon color="tertiary" name="add-circle"></ion-icon>
          <ion-label color="tertiary">Add/Remove</ion-label>
        </ion-tab-button>
    
        <ion-tab-button href="/account">
          <ion-icon color="tertiary" name="person"></ion-icon>
          <ion-label color="tertiary">Account</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
