<ion-header>
  <ion-toolbar>
    <ion-title>Test Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label color="tertiary" position="stacked">
        First Name
      </ion-label>
      <ion-input [(ngModel)]="firstName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="tertiary" position="stacked">
        Last Name
      </ion-label>
      <ion-input [(ngModel)]="lastName"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="submitValues()">Submit</ion-button> 

  </ion-list>

</ion-content>