<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      <ion-icon name="person-add"></ion-icon> Property Application
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- [options]="slideOptsOne" -->
  <ion-slides [options]="sliderOption" pager="false">
    <ion-slide *ngFor="let property of slider_property_list">
      <span style=" position: absolute; top: 4.6%; left: 2%; background-color: #7044ff; color: white; padding: 4px 13px; border-top-left-radius: 20px; border-bottom-right-radius: 20px; ">
        ₹ {{property.price}}
      </span>
      <span style=" position: absolute; top: 4.9%; right: 2%; background-color: #7044ff; color: white; padding: 4px 13px; border-bottom-left-radius: 20px; border-top-right-radius: 20px; ">
        <ion-icon name="bed"></ion-icon> {{property.number_of_beds}} <ion-icon name="rainy"></ion-icon> {{property.number_of_baths}}
      </span>
      <span style=" position: absolute; bottom: 0px;right: 2%; background-color: #7044ff; color: white; padding: 4px 13px; border-top-left-radius: 20px; border-bottom-right-radius: 20px; ">
        {{property.address}}
      </span>
      <img src="data:image/jpeg;base64,{{property.image}}"/>      
    </ion-slide>
  </ion-slides>

  <ion-card style="width: 44% !important; float: left; box-shadow: 0px 0px 10px 0px #7044ff7a;    border-radius: 20px;">
    <!-- <img src="../../assets/property_images/1.jpg"/> -->
    <ion-card-header style=" padding: 2px; ">       
      <ion-card-title style=" text-transform: capitalize; color: #7044ff;    font-family: 'Ubuntu', sans-serif;" text-center>Sale</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card style="width: 44% !important; float: right; box-shadow: 0px 0px 10px 0px #7044ff7a;     border-radius: 20px;">
    <!-- <img src="../../assets/property_images/1.jpg"/> -->
    <ion-card-header style=" padding: 2px; ">       
      <ion-card-title style="text-transform: capitalize; color: #7044ff;    font-family: 'Ubuntu', sans-serif;" text-center>Buy</ion-card-title>
    </ion-card-header>
  </ion-card>

  <!-- <ion-card (click)="goToTestPage()" style="width: 44% !important; float: left; box-shadow: 0px 0px 10px 0px #7044ff7a;     border-radius: 20px;">
    <img src="../../assets/property_images/1.jpg"/>
    <ion-card-header style=" padding: 2px; ">       
      <ion-card-title style="text-transform: capitalize; color: #7044ff;    font-family: 'Ubuntu', sans-serif;" text-center>TEST PAGE</ion-card-title>
    </ion-card-header>
  </ion-card> -->
    
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button href="/home">
          <ion-icon color="tertiary" name="home"></ion-icon>
          <ion-label color="tertiary">Home</ion-label>      
        </ion-tab-button>
    
        <ion-tab-button href="/property-list">
          <ion-icon color="tertiary" name="search"></ion-icon>
          <ion-label color="tertiary">Search</ion-label>
        </ion-tab-button>
    
        <ion-tab-button href="/add-property">
          <ion-icon color="tertiary" name="add-circle"></ion-icon>
          <ion-label color="tertiary">Add/Remove</ion-label>
        </ion-tab-button>
    
        <ion-tab-button href="/account">
          <ion-icon color="tertiary" name="person"></ion-icon>
          <ion-label color="tertiary">Account</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
