<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      <ion-icon name="person-add"></ion-icon> Account
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
      <ion-item>
        <span class="center-align">
          <img class="user-image" src="../../assets/user-icon.png"/>
        </span>
      </ion-item>
      <ion-item>
        <ion-label class="center-align"><ion-icon name="person"></ion-icon> {{name}}</ion-label>
      </ion-item> 
      <ion-item>
        <ion-label class="center-align"><ion-icon name="phone-portrait"></ion-icon> +91-{{mobile}}</ion-label>
      </ion-item>    
      <ion-item>
        <ion-label class="center-align"><ion-icon name="mail"></ion-icon> {{email}}</ion-label>
      </ion-item>      
      <ion-item>
        <ion-label class="center-align"><ion-icon name="pin"></ion-icon> {{address}}</ion-label>
      </ion-item>      
    </ion-list>

    <ion-button expand="block" color="tertiary" href="myproperties" class="ios button button-block button-solid ion-activatable ion-focusable hydrated">
      My Properties
    </ion-button>

    <ion-button expand="block" color="danger" (click)="logout()" class="ios button button-block button-solid ion-activatable ion-focusable hydrated">
      Logout
    </ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button href="/home">
          <ion-icon color="tertiary" name="home"></ion-icon>
          <ion-label color="tertiary">Home</ion-label>      
        </ion-tab-button>
    
        <ion-tab-button href="/property-list">
          <ion-icon color="tertiary" name="search"></ion-icon>
          <ion-label color="tertiary">Search</ion-label>
        </ion-tab-button>
    
        <ion-tab-button href="/add-property">
          <ion-icon color="tertiary" name="add-circle"></ion-icon>
          <ion-label color="tertiary">Add/Remove</ion-label>
        </ion-tab-button>
    
        <ion-tab-button href="/account">
          <ion-icon color="tertiary" name="person"></ion-icon>
          <ion-label color="tertiary">Account</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
