.center-align{
    margin: 0px auto;    
    color: #7044ff;
    font-weight: bolder;
    text-transform: uppercase;
}

.user-image{
    width: 180px;
    border: 1px solid #d3c7f9;
    border-radius: 50%;
    box-shadow: 0px 0px 3px 0px;
}